NICUtil/src/main/webapp/wsdl/VendorSoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://vendor.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://vendor.soap.com" xmlns:intf="http://vendor.soap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://vendor.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="vendorName">
    <complexType>
     <sequence>
      <element name="vendorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="vendorNameResponse">
    <complexType>
     <sequence>
      <element name="vendorNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="vendorNameRequest">

      <wsdl:part element="impl:vendorName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="vendorNameResponse">

      <wsdl:part element="impl:vendorNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="VendorSoapService">

      <wsdl:operation name="vendorName">

         <wsdl:input message="impl:vendorNameRequest" name="vendorNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:vendorNameResponse" name="vendorNameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VendorSoapServiceSoapBinding" type="impl:VendorSoapService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="vendorName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="vendorNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="vendorNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VendorSoapServiceService">

      <wsdl:port binding="impl:VendorSoapServiceSoapBinding" name="VendorSoapService">

         <wsdlsoap:address location="http://localhost:9280/NICUtil/services/VendorSoapService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
