NICUtil/src/main/webapp/wsdl/VendorAddressService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://vendor.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://vendor.soap.com" xmlns:intf="http://vendor.soap.com" xmlns:tns1="http://model.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://vendor.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.com"/>
   <element name="getVendorAddress">
    <complexType>
     <sequence>
      <element name="vendorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVendorAddressResponse">
    <complexType>
     <sequence>
      <element name="getVendorAddressReturn" type="tns1:Address"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Address">
    <sequence>
     <element name="addressId" type="xsd:int"/>
     <element name="addressLine1" nillable="true" type="xsd:string"/>
     <element name="addressLine2" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipcode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getVendorAddressResponse">

      <wsdl:part element="impl:getVendorAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVendorAddressRequest">

      <wsdl:part element="impl:getVendorAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="VendorAddressService">

      <wsdl:operation name="getVendorAddress">

         <wsdl:input message="impl:getVendorAddressRequest" name="getVendorAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVendorAddressResponse" name="getVendorAddressResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VendorAddressServiceSoapBinding" type="impl:VendorAddressService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getVendorAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVendorAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVendorAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VendorAddressServiceService">

      <wsdl:port binding="impl:VendorAddressServiceSoapBinding" name="VendorAddressService">

         <wsdlsoap:address location="http://localhost:9280/NICUtil/services/VendorAddressService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
